@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Roboto&family=Zilla+Slab+Highlight:wght@700&family=Zilla+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Roboto&family=Zilla+Slab+Highlight:wght@700&family=Zilla+Slab:wght@300&display=swap');

@media screen and (max-width: 991px) {
  .name-text {
      font-size: 16px;
  }
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
  background-color: #DDC9A4;
  margin: 0px;
}

h3 {
 margin: 0px;
}

p {
  margin-top: 25px;
  margin-bottom: 0px;
}

.layout {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header header header"
    "sidenav sidenav content content content content"
    "sidenav sidenav content content content content"
    "sidenav sidenav footer footer footer footer";
}

.content {
  grid-area: content;
  width: 80%;
  font-family: "Roboto", sans-serif;
  color: black;
  margin: 0px;
}

.content a {
  text-decoration: none;
  color: black;
}

#name {
  font-family: 'Zilla Slab', serif;
  font-size: 60px;
  color: #5C5444;
  margin: 0px;
}

#name:hover {
  font-family: 'Zilla Slab Highlight', cursive;;
  font-weight: bold 700;
  color: black;
}

.header {
  grid-area: header;
}

#tagline {
  font-style: small-caps;
  font-size: 30px;
  font-weight: lighter;
}

.sidenav {
  grid-area: sidenav;
  display: flex;
  flex-direction: column;
  width: 15%;
  position: fixed;
  bottom: 25px;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-variant: small-caps;
}
  
.sidenav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  align-items: center;
  text-align: center;
  font-variant: small-caps;
  color: #5C5444;
  display: block;
}
  
.sidenav a:hover {
  color: black;
}

.sidenav a.active {
  text-decoration: underline;
}

.footer-fixed {
  grid-area: footer;
  display: flex;
  position: fixed;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
  right: 25px;
  bottom: 0px;
  margin-bottom: auto;
}

.footer-center {
  display: flex;
  grid-row: span;
}

.footer-right {
  display: flex;
}

.footer-right a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-variant: small-caps;
  color: #5C5444;
}
  
.footer-right a:hover {
  color: black;
}

.footer-right a.active {
  text-decoration: underline;
}

ul li{
  display: inline-table;
  text-align: left;
  margin-right: auto;
  margin-left: auto;
}

.about-text {
  position: static;
  width: auto;
  max-width: 770px;
  line-height: 20px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  font-size: 16px;
  line-height: 30px;
}

.about-skills {
  position: static;
  width: auto;
  max-width: 770px;
  margin-right: auto;
  margin-left: auto;
  font-size: 16px;
  text-align: left;
}

.about-main {
  position: static;
  width: auto;
  max-width: 770px;
  line-height: 20px;
  margin-right: auto;
  margin-left: auto;
  font-size: 16px;
  text-align: left;
}

.about-main h3 {
  padding-top: 100px;
  text-align: left;
  font-size: 30px;
}

.project-snack {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

#projects-title {
  position: fixed;
  margin: auto;
}

.projects {
  position: static;
  width: auto;
  max-width: 770px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}

.snack-rectangle {
  width: 700px;
  height: 430px;
  background-color: #5C5444;
  border-radius: 5px;
  margin: 25px 25px 25px 25px;
  margin-top: 50px;
  margin-left: 0px;
}

.snack-rectangle:hover {
  cursor: pointer;
  background: #FFFFFF;
  color: #5C5444;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.snack-rectangle h2 {
  margin-left: 25px;
}

.snack-rectangle a {
  text-decoration: none;
  color: black;
  margin-left: 575px;
}

.snack-rectangle a:hover{
  color: #5C5444;
  text-decoration: underline;
}

.logo:hover {
  animation: shake 1s !important;
  animation-iteration-count: infinite !important;
}

@keyframes shake {
  0% { transform: translate(0px, 0px) rotate(0deg); }
  10% { transform: translate(-1px, -1px) rotate(-1deg); }
  20% { transform: translate(-2px, -2px) rotate(1deg); }
  30% { transform: translate(-2px, -2px) rotate(2deg); }
  40% { transform: translate(-1px, -1px) rotate(0deg); }
  50% { transform: translate(0px, 0px) rotate(-1deg); }
  60% { transform: translate(-1px, -1px) rotate(1deg); }
  70% { transform: translate(-2px, -2px) rotate(2deg); }
  80% { transform: translate(-2px, -2px) rotate(0deg); }
  90% { transform: translate(-1px, -1px) rotate(-1deg); }
  100% { transform: translate(0px, 0px) rotate(1deg); }
}

#intro {
  margin-top: 150px;
}

.projects-btn {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  align-items: center;
  text-align: center;
  font-variant: small-caps;
  color: #5C5444;
} 

/*personal image css animation*/

:root {
  --primary: #E8C57B;
  --secondary: #C38E2E;
  --accent: #36575E;
}

.artist-card {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1rem auto;
  max-width: 40rem;
  margin: auto;
  position: relative;
}

.artist-card__title {
  margin: 0;
  grid-column: 1 / 5;
  grid-row: 2 / span 1;
  align-self: center;
  padding: 0.25em;
  position: relative;
  z-index: 1;
  font-size: 9vmin;
  text-align: center;
}

.artist-card__img {
  max-width: 100%;
  display: block;
  grid-column: 1 / -1;
  grid-row: 1 / 3;
  align-self: center;
}

@supports (clip-path: circle(25%)) {
  .artist-card {
    clip-path: circle(0%);
    animation: circle-grow 2000ms 450ms forwards;

    &:hover .artist-card__img {
      clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 0% 100%);
    }
  }

  .artist-card__img {
    clip-path: polygon(
      18.11% 16.5%,
      50% 0%,
      75% 50%,
      54.09% 90.44%,
      13.7% 63.94%
    );
    transition: clip-path 400ms ease-in-out;
  }

  .artist-card__title {
    clip-path: inset(50% 50%);
    animation: heading-in 400ms 1000ms forwards;
  }
}

@keyframes circle-grow {
  to {
    clip-path: circle(100%);
  }
}

@keyframes heading-in {
  to {
    clip-path: inset(0% 0%);
  }
}

@supports (mix-blend-mode: darken) {
  .artist-card {
    background-image: linear-gradient(
        to top right,
        var(--primary) 25%,
        transparent
      ),
      radial-gradient(
        circle at bottom right,
        var(--secondary) 22%,
        transparent 30%
      );

    &:hover::after {
      clip-path: circle(100%);
    }
  }

  .artist-card__img {
    mix-blend-mode: multiply;
    filter: grayscale(1) contrast(1.5) brightness(0.9);
  }
}


/*

Code I am STILLLLL toying with that just won't work.....

.side-rectangle {
  height: 1000px;
  width: 100px;
  background-color: #5C5444;
  border-radius: 5px;
}

.project-snack {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
    "side-rectangle" "snack-rectangle" "snack-rectangle" "snack-rectangle"
    "side-rectangle" "snack-rectangle" "snack-rectangle" "snack-rectangle"
    "side-rectangle" "snack-rectangle" "snack-rectangle" "snack-rectangle"
    ;
}

Imag Shake Initial

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.underline-closing:after {
  content: "";
  width: 3px;
  height: 3px;
  bottom: 0;
  left: 0
}

.underline-closing:focus:after,
.underline-closing:hover:after {
  width: 50%;
  height: 3px
}

.underline-closing:before {
  content: "";
  width: 3px;
  height: 3px;
  bottom: 0;
  right: 0
}

.underline-closing:focus:before,
.underline-closing:hover:before {
  width: 50%;
  height: 3px
}

*/